/* 메인 씨에쓰에쓰 */
@font-face{
    font-family: 'appleSDGothic';
    src: url('../fonts/AppleSDGothicNeoUL.ttf');
}

body{
    height: 100vh;
    background-image: url(../images/main_background.png);
    background-repeat: no-repeat; /* 반복 안함 */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lost_n_found{
    height: 150px;
}

.btn{
    display: block;
    font-family: 'appleSDGothic';
    font-size: 40px !important; 
    width: 350px;
    height: 70px;
    line-height: 55px;
}

.fixed-bottom{
    left: auto;
    padding: 20px;
}